<div class="d-flex gap-5 justify-content-between align-items-center">
  <div class="d-flex gap-2 ">
    <div class="d-flex  flex-column align-items-center justify-content-center">
        <div>
        <i class="fa-regular fa-circle" style="position: relative;top: 3px;"   ></i>
        </div>
        <div>
        <div class="vr" style="height: 106px;"></div>
        </div>
        <div>
        <i class="fa-regular fa-circle " style="position: relative;bottom: 8px;" ></i>
        </div>
    </div>
  <div class="d-flex  flex-column " style="gap: 96.5px;">
        <div class="d-flex flex-column" style="position: relative;top: 10px;">
            <div style="font-size: small;">
        {{day}},&nbsp;{{month}}&nbsp; {{dayNum}}&nbsp;{{flightDetail.time_of_departure}}
        </div>
        <div style="font-weight: bold;font-size:smaller;">
            {{flightDetail.source}}
        </div>
        </div>
        <div class="d-flex flex-column  justify-content-between ">
            <div style="font-size: small;">
        {{day}},&nbsp;{{month}}&nbsp; {{dayNum}}&nbsp;{{flightDetail.time_of_arrival}}
        </div>
        <div style="font-weight: bold;font-size:smaller;">
            {{flightDetail.destination}}
        </div>
        </div>

    </div>
    <div></div><div></div>
</div>
<div class="d-flex gap-2 justify-content-center align-items-center">
    <div>
    <img class="rounded mx-auto d-block" width="50px" height="50px" src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/AI.png?v=20&quot;">
    </div>
        <div  class="d-flex flex-column justify-content-center align-items-center">
                <div style="font-weight: lighter;font-size: small;">{{flightDetail.name}}</div>
                <div style="font-weight: lighter;font-size: small;">{{flightDetail.seatType}}</div>
                <div style="font-weight: lighter;font-size: small;">Flight time {{diff}}</div>
        </div>
</div>
</div>