<div class="d-flex flex-column">
<div class="d-flex flex-column ">
            <div class="fs-3">{{data.carRentalBooking.carRental.car_name}}</div>
    <div class="d-flex w-75 justify-content-between">
        <div class="d-flex flex-column">
        <div>{{data.carRentalBooking.carRental.location}}</div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="fs-4" style="font-weight: 300;">Pick Up</div>
            <div class="fs-3">{{dateMonth1.month}} {{dateMonth1.date}}, {{dateMonth1.year}}</div>
            <div class="fs-3">{{data.carRentalBooking.bookedFromTime}}</div>
        </div>
         <div class="d-flex flex-column align-items-center">
            <div class="fs-4" style="font-weight: 300;">Drop Off</div>
            <div class="fs-3">{{dateMonth2.month}} {{dateMonth2.date}}, {{dateMonth2.year}}</div>
            <div class="fs-3">{{data.carRentalBooking.bookedTillTime}}</div>
        </div>
</div>
    </div>
</div>