<div class="d-flex w-75 pt-3 justify-content-between px-4">
    <div class="d-flex flex-column gap-4" >
        <div style="font-weight: 300;;">Customer ID:</div>
        <div style="font-weight: 300;;" >CarRental Booking ID:</div>
        <div style="font-weight: 300;;">Date of Booking:</div>
        <div style="font-weight: 300;;">Car Type:</div>
        <div style="font-weight: 300;;">No of seats:</div>
    </div>
       <div class="d-flex flex-column gap-4">
        <div>{{data.stripe_payement_intent_id}}</div>
        <div>{{data.bookingId}}</div>
        <div>{{dateMonth.date}} {{dateMonth.month}} {{dateMonth.year}} {{data.booking_time}}</div>
        <div>{{data.carRentalBooking.carRental.drive_type}}</div>
        <div>{{data.carRentalBooking.carRental.no_of_seats}} </div>
    </div>
       <div class="d-flex flex-column gap-4 justify-content-center align-items-center">
        <div class="d-flex gap-5">
        <div style="font-weight: 300;;">Total Amount Paid:</div>
        <div>{{data.amount}}</div>
        </div>
        <div class="d-flex gap-2">
        <div style="font-weight: 300;;">Payment Method:</div>
          <div style="position: relative;bottom: 14px;">    @if(data.card==="mastercard")
                {
                <img src="../../../../assets/ma_symbol_opt_73_3x.png" width="45px" height="60px">
                }
                @else if (data.card==="visa") {
                    <img src="../../../../assets/visa.png" width="45px" height="60px">
                }</div>
        </div>
    </div>

</div>