<div class="d-flex flex-column gap-4 " style="background-color: #003580;height: calc(100vh - 0px);">
   <div class="d-flex justify-content-between text-white px-3 pt-4">
    <div class="text-white fs-3" style="font-family: cursive;" >
                BookVoyage
    </div>
    <div class="d-flex gap-3">
        <div>Flights</div>
        <div>Hotels</div>
        <div>Car Rentals</div>
    </div>
    </div>
<div class="d-flex justify-content-center align-items-center pt-4">
<div style="color: white;font-weight: 600;font-size:3rem;" >Plan your perfect trip</div>
</div>
<div class="d-flex gap-3 justify-content-center align-items-center">
<div class="card" style="height: 22rem;width: 18rem;cursor: pointer;" (click)="navToLogin()">
    <div class="card-body">
        <div class="d-flex flex-column gap-2 justify-content-center align-items-center" >
            <i class="fa-solid fa-plane-up fa-4x" style="color: #003580;"></i>
            <div style="color: #003580;font-weight: 500;" class="fs-3">Flights</div>
            <div style="text-align: center;">Book Affordable Flights Worldwide. Find the best deals on domestic flights.Choose from top airlines, compare prices and travel conviniently</div>
        </div>
    </div>
</div>
<div class="card" style="height: 22rem;width: 18rem;cursor: pointer;" (click)="navToLogin()">
    <div class="card-body">
        <div class="d-flex flex-column gap-2 justify-content-center align-items-center" >
            <i class="fa-solid fa-hotel fa-4x" style="color: #003580;"></i>
            <div style="color: #003580;font-weight: 500;" class="fs-3">Hotels</div>
            <div style="text-align: center;">Discover hotels that suit every budget and style—from luxury resorts to cozy inns. Browse verified reviews, photos, and amenities to book your perfect stay with confidence</div>
        </div>
    </div>
</div>
<div class="card" style="height: 22rem;width: 18rem;cursor: pointer;" (click)="navToLogin()">
    <div class="card-body">
        <div class="d-flex flex-column gap-2 justify-content-center align-items-center" >
<i class="fa-solid fa-car fa-4x" style="color: #003580;"></i>            
            <div style="color: #003580;font-weight: 500;" class="fs-3">Car Rentals</div>
            <div style="text-align: center;">Rent a car hassle-free wherever you go. Choose from a wide range of vehicles at affordable rates, with pickup and drop-off available at airports and city centers.</div>
        </div>
    </div>
</div>
</div>
<div class="d-flex justify-content-center align-items-center pt-4">
<button (click)="navToLogin()" class="btn rounded btn-lg fs-4" style="font-weight: 600;width: 12rem;height: 4rem;background-color: white;color: #003580;">Get Started</button>
</div>
</div>