<div class="d-flex flex-column px-3 gap-4">
<div class="d-flex flex-column ">
    <div style="font-weight: bold; font-size: larger;">{{hotelData.bedroom_type}} Room</div>
    <div style="font-size: smaller;font-weight:lighter;">{{adults}} Adults, {{children}} Child</div>
    <div class="d-flex flex-column px-4" style="font-size: 15px;">
      <div class="d-flex gap-1 align-items-center">
        <i class="fa-solid fa-wifi fa-xs"></i><div>Room with Wifi</div>
      </div>
        <div class="d-flex gap-1 align-items-center">
       <i class="fa-regular fa-utensils fa-sm"></i><div>Restaraunt Services</div>
      </div>
         <div class="d-flex gap-1 align-items-center">
       <i class="fa-regular fa-circle-parking fa-sm"></i><div>Free Parking</div>
      </div>
               <div class="d-flex gap-1 align-items-center">
       <i class="fa-regular fa-spa fa-sm"></i><div>10% on spa session</div>
      </div>
    </div>

</div>
</div>