<div #ticketContent class="d-flex flex-column px-3" >
<div class="fs-2" style="font-family: cursive;color:#003580 ;">BookVoyage</div>
            <div>
            <a  (click)="backHome()">Back Home <i class="fa-regular fa-left-from-bracket"></i></a>
            </div>
<div class="d-flex justify-content-center align-items-center gap-1 pt-3">
            <div style="font-size: large; font-weight: 600;">
            Booking Confirmed
            </div>
            <img width="35" height="35" src="../../../../assets/verified_account.png" alt="verified-account--v1"/>
        </div>
<hr>

<div class="d-flex align-items-center">
<div style="font-weight: lighter;;">Guest Name:</div>
<div style="font-weight: 600;font-size: larger;">{{data.carRentalBooking.user.firstName}} {{data.carRentalBooking.user.lastName}}</div>
</div>
<hr>
<app-car-rental-ticket-details [data]="data"/>
<hr style="border: 1px solid rgb(0, 0, 0);">
<app-car-rental-payment-details [data]="data"/>
<hr style="border: 1px solid rgb(0, 0, 0);">
<div class="d-flex flex-column">
<div class="fs-4 pb-3">Services Provided</div>
<div style="font-weight: lighter;">
<app-car-rental-service-list [data]="data"/>
</div>
</div>
<div class="d-flex justify-content-center align-items-center pt-5">
    <button #ticketBtn (click)="downloadPdf()" class="btn  p-3 " style="background-color: #003580;color: white;">Download Ticket</button>
</div>
</div>