<div class="d-flex flex-column">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="d-flex gap-2">
                    <div class="d-flex  rounded-circle justify-content-center align-items-center" style="background-color: #e0dfdf;width: 60px;height: 60px;">
                    <div>
<i class="fa-light fa-car fa-2x"></i>                </div>
</div>
        <div class="d-flex flex-column gap-2">
            <div class="d-flex gap-3 align-items-center">
            <div style="font-weight: bold;font-size: larger;">{{data.carRentalBooking.carRental.car_name}}</div>
            <div>{{date1.date}} {{date1.month}}-{{date2.date}} {{date2.month}}</div>
            </div>
            <div>Booking ID - {{data.stripe_payement_intent_id}}</div>
        </div>
            </div>
            <button class="btn" style="background-color: #e0dfdf;color:#003580; font-weight: 800;" (click)="navToPayment()">
                View Ticket
            </button>
                </div>
            <hr class="w-100" style="border: 1px dashed;">
            <div class="d-flex w-100 justify-content-evenly align-items-center">
                <div class="d-flex flex-column gap-1 align-items-center">
                    <div>Pick Up</div>
                    <div style="font-weight: 600;font-size: x-large;">{{date1.date}} {{date1.month}} {{date1.year}}</div>
                    <div style="font-weight: 400;font-size: large;">{{data.carRentalBooking.bookedFromTime}}</div>
                </div>
                <div class="d-flex flex-column gap-1 align-items-center">
                    <div>Drop Off</div>
                    <div style="font-weight: 600;font-size: x-large;">{{date2.date}} {{date2.month}} {{date2.year}}</div>
                    <div style="font-weight: 400;font-size: large;">{{data.carRentalBooking.bookedTillTime}}</div>
                </div>
                 <div class="d-flex flex-column align-items-center">
                    <div style="font-weight: 700;font-size: 18px;">Paid :₹ {{data.amount}}</div>
                     @if(data.card==="mastercard")
                {
                <img src="../../../../assets/ma_symbol_opt_73_3x.png" width="45px" height="60px">
                }
                @else if (data.card==="visa") {
                    <img src="../../../../assets/visa.png" width="45px" style="height: 45px;">
                }
                </div>
            </div>
            </div>
    </div>
    </div>
    </div>