<ng-template #content let-modal>
    <div class="modal-body">
        <app-flight-booking [no_of_adults]="no_of_adults" [no_of_children]="no_of_children"
            [flightBookingId]="bookingId" [flightClicked]="flightBooked" [user]="userBooked" [diff]="diff" />
    </div>
</ng-template>
<ng-template #content1 let-modal1>
    <div class="modal-body">
        <app-flight-admin-add-delete-modal [id]="id" [type]="'Edit'" (componentEmitted)="handleEditEmiiter($event)" />
    </div>
</ng-template>
<ng-template #content2 let-modal2>
    <div class="modal-body">
        <app-flight-admin-delete-admin [id]="id" (deleteEmitter)="handleDeleteEmitter($event)" />
    </div>
</ng-template>
<ng-template #content3 let-modal3>
    <div class="modal-body">
        <app-flight-delete-booking [id]="id" (deleteEmitter)="handleBookingDeleteEmitter($event)" />
    </div>
</ng-template>
<ngb-toast *ngIf="bookingDeletionSuccessful" [autohide]="true" aria-live="polite" [animation]="true" [delay]="2500"
    class="bg-success text-light position-fixed top-0 end-0 m-3" (hidden)="bookingDeletionSuccessful=false">
    Flight Booking Deletion Successfull
</ngb-toast>
<ngb-toast *ngIf="showToast" [autohide]="true" aria-live="polite" [animation]="true" [delay]="2500"
    class="bg-danger text-light position-fixed top-0 end-0 m-3" (hidden)="showToast=false">
    Flight already booked by user
</ngb-toast>
<ngb-toast *ngIf="deletionSuccessfull" [autohide]="true" aria-live="polite" [animation]="true" [delay]="2500"
    class="bg-success text-light position-fixed top-0 end-0 m-3" (hidden)="deletionSuccessfull=false">
    Flight Deletion Successfull
</ngb-toast>
<ngb-toast *ngIf="editSuccessful" [autohide]="true" aria-live="polite" [animation]="true" [delay]="2500"
    class="bg-success text-light position-fixed top-0 end-0 m-3" (hidden)="editSuccessful=false">
    Flight Edited Successfully
</ngb-toast>
<div class="d-flex justify-content-center align-items-center">
    <div class="card " style="width: 60rem;">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between gap-5">
                <div class="d-flex flex-column justify-content-center align-items-center gap-1">
                    <img class="rounded mx-auto d-block" width="40px" height="40px"
                        src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/AI.png?v=20&quot;">
                    <div style="font-size: small;font-weight: bold;">{{name}}</div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="font-size: medium;font-weight: bold;">
                        {{time_of_departure}}
                    </div>
                    <div style="font-size: small;">
                        {{source}}
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    @if(btnTitle==='Book' || btnTitle==='Edit')
                    {
                    {{diff}}
                    }
                    @else {
                    <div style="font-size:small;font-weight: lighter;"> {{dateDetails.day}} {{dateDetails.month}}
                        {{dateDetails.date}}</div>
                    }
                    <span class="badge "
                        style="font-size:7px;height: 1px;background-color: rgb(81, 226, 194);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <div style="font-size: x-small;font-weight: lighter;">Non stop</div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="font-size: medium;font-weight: bold;">
                        {{time_of_arrival}}
                    </div>
                    <div style="font-size: small;">
                        {{destination}}
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="font-weight: bold; font-size: medium;"> {{price * (+no_of_adults + +no_of_children)}}
                    </div>
                    <div class="text-end" style="font-size: small;">per adult</div>
                </div>
                @if(isBooked===undefined && btnTitle==='Book')
                {
                <button id="bookingModal" (click)="bookFlight(data1.id,content)" type="submit" class="btn  px-4"
                    style="background-color:  #003580;color: white;">{{btnTitle}}</button>
                }
                @else if (isBooked!=undefined && isBooked==0) {
                <div class="d-flex flex-column gap-1">
                    <button (click)="pay(id)" type="submit" class="btn text-white bg-success p-2">Confirm
                        Payment</button>
                    <button type="submit" class="btn btn-danger p-2" (click)="deleteBooking(id,content3)">
                        <div class="d-flex gap-1 align-items-center justify-content-center">
                            <i class="fa-regular fa-trash"></i>
                            <div>Delete</div>
                        </div>
                    </button>
                </div>
                }
                @else if (isBooked!=undefined && isBooked==1) {
                <button class="btn" style="background-color: #003580;color:white; " (click)="navToPayment()">View
                    Ticket</button>
                }
                @else if(btnTitle==='Edit'){
                <div class="d-flex flex-column gap-2 ">
                    <button (click)="edit(id,content1)" type="submit" class="btn btn-primary">
                        <div class="d-flex gap-1 align-items-center">
                            <i class="fa-light fa-pencil"></i>
                            <div>Edit</div>
                        </div>
                    </button>
                    <button type="submit" class="btn btn-danger" (click)="delete(id,content2)">
                        <div class="d-flex gap-1 align-items-center">
                            <i class="fa-regular fa-trash"></i>
                            <div>Delete</div>
                        </div>
                    </button>
                </div>
                }

            </div>
        </div>
    </div>
</div>