<ngb-toast *ngIf="showToast" [autohide]="true" aria-live="polite" [animation]="true" [delay]="2500"
    class="bg-warning text-light position-fixed top-0 end-0 m-3" (hidden)="showToast=false">
    Please fill all details
</ngb-toast>
<div class="d-flex align-items-center flex-column" style="background-color: #003580; height: 24rem;">
    <app-flight-search (passengerDetails)="onPlay($event)" (flightSearched)="onSearch($event)" />
</div>
<div class="d-flex flex-column gap-2" style="background-color:  #e0dfdf;height: 100vh;">
    <div class="d-flex flex-column gap-1">
        @if(searchClicked==true)
        {
        <div class=" fw-bold" style="font-size: small;">
            Flights you may prefer
        </div>
        <div class="fw-medium" style="font-size: smaller;">
            Based on price and convinience
        </div>
        }
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column gap-1" style="background-color:  #e0dfdf;">
        @for (item of temp; track $index) {
        <app-flight-list [no_of_adults]="data.adults" [no_of_children]="data.children" [btnTitle]="Book" [id]="item.id"
            [data1]="item" [name]="item.name" [source]="item.source" [destination]="item.destination"
            [time_of_arrival]="item.time_of_arrival" [time_of_departure]="item.time_of_departure"
            [price]="item.price" />
        }
    </div>
</div>